RewriteEngine On  
 
RewriteRule ^about?$ about.php
RewriteRule ^review-board?$ review-board.php
RewriteRule ^healthcabal-review-board?$ healthcabal-review-board.php
RewriteRule ^healthcabal-editorial-process?$ healthcabal-editorial-process.php
RewriteRule ^review-board/([a-zA-Z-0-9-]+) review-board.php?slug=$1 

RewriteRule ^([a-zA-Z0-9-/]+)$ index.php?post_slug=$1  
 ##RewriteRule ^([a-zA-Z-0-9-]+)/ index.php?post_slug=$1  
